.scene1{
    width: 40px;
    height: 20px;
    background-color: #008080;
    position: relative;
    animation-name: skills;
    animation-duration: 4s;
    animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	border: 1px solid;
	border-color: LightGray;
}

/* Standard syntax */
@keyframes skills {
    0%   {background-color:red; left:600px; top:0px;}
    25%  {background-color:yellow; left:800px; top:0px;}
    50%  {background-color:blue; left:800px; top:200px;}
    75%  {background-color:green; left:600px; top:200px;}
    100% {background-color:red; left:600px; top:0px;}
}
