@font-face {
	font-family: 'gothic';
	src: url('./gothic.eot');
	src: local('gothic'), url('./gothic.woff') format('woff'), url('./gothic.ttf') format('truetype');
}

body{
	color: #000000;
	}

h1{
	margin:16px;
	}

.menu{
	background-color: #008080;
	border: 4px solid #008080;
	color: #ffffff;
	text-align:center;
	position:fixed;
	width:100%;
	z-index:100;
	text-decoration:none;
	}

.intro{
	text-align:center;
}

li{
	display:inline;
	font-size: 16px;
	margin-left: 5px;
	margin-right: 5px;
	color: #ffffff;
	cursor: pointer;
	padding: 0px 10px 0px 10px;
	
	transition: 0.2s;
	color: #ffffff;
	text-decoration: none;
	padding: 0 10px;
	margin: 0 10px;
}

li:hover{
	cursor: pointer;
	background-color: #ffffff;
	color: #008080;
	padding: 20px 10px 20px 10px;
	text-decoration: none;
}
}

#b{
	padding-left: 10px;
	padding-right: 10px;
}

#front{
	border-radius: 99%;
	width: 100px;
	height: 100px;	
}

footer{
	background-color: #008080;
	padding: 20px 10px 20px 10px;
	border-width: 2px;
	text-align:center;
	color: #ffffff;
	background-attachment: pic1.jpg;
}

#one,#two,#three,#four{
	width: 800px;
	height: 480px;
}

.bgbg{
	text-align:center;
}

.slides{
	background-color:#333333;
}

me{
	text-align:center;
}
#q1,#q2,#q3{
	font-size: 40px;
}

.ani{
	margin: 10px 10px 10px 10px;
	display: inline-block;
}



.skillspics{
  max-width: 600px;
  height: 400px;
  margin: 20px auto;
  position: relative;
}
.s1,.s2,.s3,.s4{
  position: absolute;
  width: 100%;
  height: 100%;
}
.s1 {
  background: url(https://markatgithub08.github.io/mywebsite/cpp.jpg)no-repeat center;
      background-size: cover;
    animation:fade 15s infinite;
-webkit-animation:fade 15s infinite;

} 
.s2 {
  background: url(https://markatgithub08.github.io/mywebsite/java.jpg)no-repeat center;
      background-size: cover;
    animation:fade2 15s infinite;
-webkit-animation:fade2 15s infinite;
}
.s3 {
    background: url(https://markatgithub08.github.io/mywebsite/vb.jpg)no-repeat center;
      background-size: cover;
    animation:fade3 15s infinite;
-webkit-animation:fade3 15s infinite;
}
.s4 {
    background: url(https://markatgithub08.github.io/mywebsite/html.jpg)no-repeat center;
      background-size: cover;
    animation:fade 15s infinite;
-webkit-animation:fade 15s infinite;
}

@keyframes fade
{
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2
{
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0 }
  100% { opacity: 0}
}
@keyframes fade3
{
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}
	
